/*  브라우저 가로 길이에 따른 미디어 쿼리 입니다.   */
/*  480px , 768px, 1024px 기준으로 분리          */
/* =========================================== */
/* ========================================== */

/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1279px)*/
@media all and (min-width:1024px) and (max-width:1279px) {}

/* 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
    
}

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width:480px) and (max-width:767px) {}

/* =========================================== */
/* ========================================== */

@media all and (min-width:1280px) {}

@media all and (min-width:1024px) {
    

}

@media all and (min-width:768px) {}

@media all and (min-width:480px) {}

/* =========================================== */
/* ========================================== */


@media all and (max-width: 1279px) {}

@media all and (max-width: 1023px) {}

@media all and (max-width: 900px) {
    .side{
        display: none;
    }

}


@media all and (max-width:767px) {
    
}

@media all and (max-width:479px) {
    


}