@charset "UTF-8";

/*  base.css  */
body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #eee;
  color: #000;
}

a:link,
a:visited {
  color: #000;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #ff6900;
  text-decoration: underline;
}

/*  style.css  */
.basic {
  width: 80%;
  margin: 50px auto;
  padding: 50px;
  background-color: white;
  border-top: 5px solid #ddd;
}

.myhidden {
  position: absolute;
  left: -9999%;
  width: 1px;
  height: 1px;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
}