@charset "UTF-8";
/*   header  */
/*   header  */
.header .navbar-inverse {
    background-color: white;
    border: 0 none;
    border-radius: 0px;
}

.header h2 {  margin: 0; }
.header .navbar-inverse .navbar-brand ,
.header .navbar-inverse .navbar-nav>li>a {
    border-bottom: 3px solid #fff;
    color: #333;    font-weight: 600;
}
.header .navbar-inverse .navbar-nav>li>a:hover, 
.header .navbar-inverse .navbar-nav>li>a:focus {
    border-bottom: 3px solid #ff6900;
    transition: border .2s ease-in-out;
} 

.header  .logo_wrapper span {
    width: 32px;
    height: 32px;
    display: inline-block;
}
.header .logo_img {
    background: url(../images/logo.png) no-repeat;
    background-size: 23px;
}
.logo_wrapper {
    display: inline-block;
    width: 80px;
}
.header .logo_wrapper span.glyphicon {
    top: -12px;
}
/*  header-LOGO    */
/*  header-LOGO    */
/*  감싸는 박스에 보이는 부분 []    */
.navbar-header a.navbar-brand {
    width: 50px;
    overflow: hidden;
}
/*  감싸는 박스 안에 기차 [■]■    */
.logo_wrapper {
    display: inline-block;
    width: 80px;
    transform: translateX(0px);
    transition: transform .2s;
}
/*  마우스올리면 기차 앞으로 한칸빼기 ■[■]    */
.header .navbar-inverse .navbar-brand:hover .logo_wrapper {
    transform: translateX(-40px);
}
/*  header-GNB    */
/*  header-GNB    */
.header .navbar-nav>li {    position: unset;   }
.header .gnb_sub {
    width: 100%;     position: absolute;  left: 0;
    background-color: whitesmoke;
    height: 120px;
    padding-top: 30px;
    text-align: center;
    z-index: 100; /* visual 시 추가 */
}
.header .gnb_sub li {
    display: inline-block;
    width: 240px;
}
.header .gnb_sub > li span {
    display: block;
    width: 100%; 
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
} 



/*   visual  */
/*   visual  */
 